<footer class="grey darken-2 page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">About me</h5>
                <p class="grey-text text-lighten-4">Jelle Glebbeek, a webdeveloper and programmer.</p>
                 <a href="#about" class="hide-on-small-only btn waves-effect waves-light white grey-text darken-text-2" (click)="analytics.sendClick('Click','footer','about me')">More about me</a>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Social Media</h5>
                <ul>
                  <li><fa name="twitter"></fa><a class="grey-text text-lighten-3" target="_blank" href="https://twitter.com/jelleglebbeek" (click)="analytics.sendClick('Click','social media','twitter')">Twitter</a></li>
                  <li><fa name="youtube"></fa><a class="grey-text text-lighten-3" target="_blank" href="https://www.youtube.com/channel/UC8AEj2uw4v50sG8IWrYjD0A" (click)="analytics.sendClick('Click','social media','youtube')">YouTube</a></li>
                  <li><fa name="github"></fa><a class="grey-text text-lighten-3" target="_blank" href="https://github.com/jely2002" (click)="analytics.sendClick('Click','social media','github')">Github</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright grey darken-3">
            <div class="container">
            © 2019 Jelle Glebbeek
          </div>
      </div>
</footer>
