<nav materialize>
  <div class="nav-wrapper grey darken-2">
    <a href="#!" class="brand-logo">&nbsp;&nbsp;Jelle Glebbeek</a>
    <a href="#" materialize="sideNav" [materializeParams]="[{menuWidth: 220}]" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">About me</a></li>
      <li><a href="badges.html">Projects</a></li>
      <li><a href="collapsible.html">Webdesign</a></li>
      <li><a href="mobile.html">Contact</a></li>
    </ul>
    <ul class="side-nav grey darken-2" id="mobile">
      <li><a href="#!" class="side-title white-text">Jelle Glebbeek</a><div class="grey darken-1 divider"></div></li>
      <li><a href="sass.html" class="white-text">About me</a></li>
      <li><a href="badges.html" class="white-text">Projects</a></li>
      <li><a href="collapsible.html" class="white-text">Webdesign</a></li>
      <li><a href="mobile.html" class="white-text">Contact</a></li>
    </ul>
  </div>
</nav>
