<div class="row about title blue-grey darken-2 z-depth-3 hide-on-small-only">
  <div class="col s6 offset-s3 white-text">
    <span class="valign-wrapper">
    <img src="assets/img/about.jpg" alt="" class=" responsive-img col s6 circle about-img"><h3 class="col s6 lg-title flow-text">About me</h3>
  </span>
  </div>
</div>

<div class="row about title z-depth-3 hide-on-med-and-up">
  <div class="col s6 offset-s3 white-text">
    <h3 i18n="@@about_me" class="center header-text">About me</h3>
  </div>
</div>

<div class="hide-on-small-only row about blue-grey darken-2 z-depth-4">
   <div class="col s4">
     <div class="card blue-grey darken-1">
           <div class="card-content white-text center">
             <span class="card-title">&nbsp;&nbsp;<fa name="code" size="3x"></fa><br>Developer</span>
             <p i18n="@@dev-desc">As a developer I create website and web-apps. I can work with Angular and NodeJs. <br>My focus is on creating beautifull front-ends, with seamless back-end integration.</p><br>
            <a href="#projects" class="btn waves-effect white grey-text darken-text-2">Projects</a>
           </div>
         </div>
   </div>
   <div class="col s4">
     <div class="card blue-grey darken-1">
            <div class="card-content white-text center">
            <span class="card-title">&nbsp;&nbsp;<fa name="user" size="3x"></fa><br>Jelle</span>
              <p i18n="@@me-desc">I'm Jelle, a 15 year old boy from The Netherlands.<br> I enjoy developing, building pc's and traveling. <br>When I finish college I want to study informatica,<br>  so I can make my hobby my work!</p><br>
              <a class="activator btn waves-effect white grey-text darken-text-2">More</a>
             </div>
             <div class="card-reveal blue-grey lighten-5">
               <span class="card-title grey-text text-darken-4">More about me<i class="material-icons right">close</i></span>
               <p>So you wan't to know some more about me? <br> Here is a small list of facts about me:</p>
               <ul>
                 <li><strong>Favorite music: </strong> Trap & Future Bass</li>
                 <li><strong>Favorite color: </strong> Dark colors & green</li>
                 <li><strong>Favorite country: </strong> Sri Lanka & South Africa</li>
                 <li><strong>Phone: </strong> Samsung J5</li>
                 <li><strong>Pineapple on pizza: </strong>No.</li>
               </ul>
             </div>
          </div>
   </div>
   <div class="col s4">
     <div class="card blue-grey darken-1">
           <div class="card-content white-text center">
             <span i18n="@@pc-title" class="card-title">&nbsp;&nbsp;<fa name="desktop" size="3x"></fa><br>Pc enthusiast</span>
             <p i18n="@@pc-desc">I really enjoy building computers. Mostly gaming pc's or servers. I have build 3 game pc's. <br>Need some advice on a new computer?  Feel free to contact me. </p><br>
             <a href="#pc" class="btn waves-effect white grey-text darken-text-2">my pc</a>
            </div>
         </div>
   </div>
 </div>

 <div class="row hide-on-med-and-up center-align about blue-grey darken-3 z-depth-2">
   <div class="card blue-grey darken-1 col s8 offset-s2">
         <div class="card-content white-text center">
          <span class="card-title">&nbsp;&nbsp;<fa name="code" size="3x"></fa><br>Developer</span>
           <p @@dev-desc>As a developer I create website and web-apps. I can work with Angular and NodeJs. My focus is on creating beautifull front-ends, with seamless back-end integration.</p><br>
           <a href="#projects" class="btn waves-effect white grey-text darken-text-2">Projects</a>
          </div>
   </div>
   <div class="card blue-grey darken-1 col s8 offset-s2">
         <div class="card-content white-text center">
           <span class="card-title">&nbsp;&nbsp;<fa name="user" size="3x"></fa><br>Jelle</span>
           <p @@me-desc>I'm Jelle, a 15 year old boy from The Netherlands.<br> I enjoy developing, building pc's and traveling. <br>When I finish college I want to study informatica,<br>  so I can make my hobby my work!</p><br>
           <a class="activator btn waves-effect white grey-text darken-text-2">More</a>
          </div>
          <div class="card-reveal blue-grey lighten-5">
            <span i18n="@@more-about" class="card-title grey-text text-darken-4">More about me<i class="material-icons right">close</i></span>
            <p i18n="@@more-about-desc">So you wan't to know some more about me? <br> Here is a small list of facts about me:</p>
            <ul>
              <li><strong>Favorite music: </strong> Trap & Future Bass</li>
              <li><strong>Favorite color: </strong> Dark colors & green</li>
              <li><strong>Favorite country: </strong> Sri Lanka & South Africa</li>
              <li><strong>Phone: </strong> Samsung J5</li>
              <li><strong>Pineapple on pizza: </strong>No.</li>
            </ul>
          </div>
   </div>
   <div class="card blue-grey darken-1 col s8 offset-s2">
         <div class="card-content white-text center">
           <span i18n="@@pc-title" class="card-title">&nbsp;&nbsp;<fa name="desktop" size="3x"></fa><br>Pc enthusiast</span>
           <p i18n="@@pc-desc">I really enjoy building computers. Mostly gaming pc's or servers. I have build 3 game pc's. <br>Need some advice on a new computer? <br> Feel free to contact me. </p><br>
           <a href="#pc" class="btn waves-effect white grey-text darken-text-2">My Pc</a>
          </div>
   </div>
 </div>
