<div class="row about title blue-grey darken-2 z-depth-3 hide-on-small-only">
  <div class="col s6 offset-s3 white-text">
    <span class="valign-wrapper">
    <img src="assets/img/about.jpg" alt="" class=" responsive-img col s6 circle about-img">
    <h3 class="col s6">About me</h3>
  </span>
  </div>
</div>

<div class="row about title z-depth-3 hide-on-med-and-up">
  <div class="col s6 offset-s3 white-text">
    <h3 class="center header-text">About me</h3>
  </div>
</div>

<div class="hide-on-small-only row about blue-grey darken-2 z-depth-4">
   <div class="col s4">
     <div class="card blue-grey darken-1">
           <div class="card-content white-text center">
             <span class="card-title">&nbsp;&nbsp;<fa name="code" size="3x"></fa><br>Programmer</span>
             <p>I am a very simple card. I am good at containing small bits of information.
             I am convenient because I require little markup to use effectively.</p><br>
            <a class="activator btn waves-effect white grey-text darken-text-2">More</a>
           </div>
           <div class="card-reveal blue-grey lighten-5">
             <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
             <p>Here is some more information about this product that is only revealed once clicked on.</p>
           </div>
         </div>
   </div>
   <div class="col s4">
     <div class="card blue-grey darken-1">
            <div class="card-content white-text center">
            <span class="card-title">&nbsp;&nbsp;<fa name="user" size="3x"></fa><br>Jelle</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p><br>
              <a class="activator btn waves-effect white grey-text darken-text-2">More</a>
             </div>
             <div class="card-reveal blue-grey lighten-5">
               <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
               <p>Here is some more information about this product that is only revealed once clicked on.</p>
             </div>
          </div>
   </div>
   <div class="col s4">
     <div class="card blue-grey darken-1">
           <div class="card-content white-text center">
             <span class="card-title">&nbsp;&nbsp;<fa name="desktop" size="3x"></fa><br>Pc enthusiast</span>
             <p>I am a very simple card. I am good at containing small bits of information.
             I am convenient because I require little markup to use effectively.</p><br>
             <a class="activator btn waves-effect white grey-text darken-text-2">More</a>
            </div>
            <div class="card-reveal blue-grey lighten-5">
              <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
           </div>
         </div>
   </div>
 </div>

 <div class="row hide-on-med-and-up center-align about blue-grey darken-3 z-depth-2">
   <div class="card blue-grey darken-1 col s8 offset-s2">
         <div class="card-content white-text center">
          <span class="card-title">&nbsp;&nbsp;<fa name="code" size="3x"></fa><br>Programmer</span>
           <p>I am a very simple card. I am good at containing small bits of information.
           I am convenient because I require little markup to use effectively.</p><br>
           <a class="activator btn waves-effect white grey-text darken-text-2">More</a>
          </div>
          <div class="card-reveal blue-grey lighten-5">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
         </div>
   </div>
   <div class="card blue-grey darken-1 col s8 offset-s2">
         <div class="card-content white-text center">
           <span class="card-title">&nbsp;&nbsp;<fa name="user" size="3x"></fa><br>Jelle</span>
           <p>I am a very simple card. I am good at containing small bits of information.
           I am convenient because I require little markup to use effectively.</p><br>
           <a class="activator btn waves-effect white grey-text darken-text-2">More</a>
          </div>
          <div class="card-reveal blue-grey lighten-5">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
         </div>
   </div>
   <div class="card blue-grey darken-1 col s8 offset-s2">
         <div class="card-content white-text center">
           <span class="card-title">&nbsp;&nbsp;<fa name="desktop" size="3x"></fa><br>Pc enthusiast</span>
           <p>I am a very simple card. I am good at containing small bits of information.
           I am convenient because I require little markup to use effectively.</p><br>
           <a class="activator btn waves-effect white grey-text darken-text-2">More</a>
          </div>
          <div class="card-reveal blue-grey lighten-5">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
         </div>
   </div>
 </div>
