<div materialize="carousel" (click)="stopAutoplay()" [materializeActions]="actions" [materializeParams]="[{fullWidth: true, duration: 400}]" class="z-depth-3 carousel carousel-slider center" data-indicators="true">
  <div class="carousel-item blue-grey darken-2 white-text" href="#one!">
    <h2 class="item">J-Engine</h2>
    <p class="white-text">J-engine is a Java game engine that I'm currently developing.</p>
  </div>
  <div class="carousel-item blue-grey darken-3 white-text" href="#two!">
    <h2 class="item">jelleglebbeek.com</h2>
    <p class="white-text">Jelleglebbeek.com is the website you are on right now!</p>
  </div>
  <div class="carousel-item blue-grey darken-2 white-text" href="#two!">
    <h2 class="item">YoutubeMp3Downloader</h2>
    <p class="white-text">A small application to download music from YouTube.</p>
  </div>
</div>
