.collapsible-header {
  border: 1px solid #455a64;
}

.collapsible-body {
  border-top: none !important;
  border: 1px solid #455a64;
}

.badge {
  color: #fff;
}

.middle {
  border-top: none;
  border-bottom: none;
}

ul, li {
  margin: 0;
}

.title {
  line-height: 32px !important;
}

.projects {
  background: #607d8b;
  padding: 15px 30px 30px 30px;
}

span.underline {
  margin-bottom: 30px;
  font-size: 15px;
}
