<div class="projects white-text blue-grey darken-2">
<h3 class="title center ">Projects</h3>
<ul materialize="collapsible" [materializeActions]="actions"  class="collapsible popout blue-grey darken-2" data-collapsible="accordion">
    <li>
      <div class="collapsible-header blue-grey darken-1">Walk Simulator<span class="badge"><a class="badge" (click)="noopen(0)" href="https://www.github.com/jely2002" target="_blank"><fa name="github"></fa></a></span></div>
      <div class="collapsible-body blue-grey"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header middle blue-grey darken-1">jelleglebbeek.com<span class="badge"><a class="badge" (click)="noopen(1)" href="https://github.com/jely2002/jelleglebbeek.com" target="_blank"><fa name="github"></fa></a></span></div>
      <div class="collapsible-body blue-grey"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header blue-grey darken-1">J-Engine<span class="badge"><a class="badge" (click)="noopen(2)" href="https://www.github.com/jely2002" target="_blank"><fa name="github"></fa></a></span></div>
      <div class="collapsible-body  blue-grey"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>
</div>
