<div class="row blue-grey darken-2 hide-on-med-and-down">
<div materialize="slider" [materializeParams]="[{indicators: false, interval: 4000, height: 400}]" class="blue-grey darken-2 slider">
    <ul class="slides">
      <li>
        <img src="assets/img/s1.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ryzen 5 1600x</h3>
          <h5 class="light grey-text text-lighten-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NZXT Kraken x52</h5>
        </div>
      </li>
      <li>
        <img src="assets/img/s2.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>NZXT S340 Elite</h3>
          <h5 class="light grey-text text-lighten-3">Aorus Gaming K5 X370</h5>
        </div>
      </li>
      <li>
        <img src="assets/img/s3.png"> <!-- random image -->
        <div class="caption left-align">
          <h3><br><br><br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NVIDIA GTX 1070</h3>
          <h5 class="light grey-text text-lighten-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;EVGA FTW edition</h5>
        </div>
      </li>
      <li>
        <img src="assets/img/s4.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>16GB HyperX Predator RAM</h3>
          <h5 class="light grey-text text-lighten-3">DDR4 3200mhz</h5>
        </div>
      </li>
    </ul>
  </div>
<div>
  <div class=" title center row blue-grey darken-2 z-index-4">
    <h3 class="white-text">Sir. Squidwards</h3>
  </div>
