<div id="pc"></div>
<div *ngIf="!hide" class="row blue-grey darken-2 hide-on-med-and-down">
<div materialize="slider" [materializeParams]="[{indicators: false, interval: 4000, height: 400}]" class="blue-grey darken-2 slider">
    <ul class="slides">
      <li>
        <img src="assets/img/s1.jpg">
        <div class="caption right-align">
          <h3><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ryzen 5 1600x</h3>
          <h5 class="light grey-text text-lighten-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NZXT Kraken x52</h5>
        </div>
      </li>
      <li>
        <img src="assets/img/s2.jpg">
        <div class="caption right-align">
          <h3>NZXT S340 Elite</h3>
          <h5 class="light grey-text text-lighten-3">Aorus Gaming K5 X370</h5>
        </div>
      </li>
      <li>
        <img src="assets/img/s3.png">
        <div class="caption left-align">
          <h3><br><br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NVIDIA GTX 1070</h3>
          <h5 class="light grey-text text-lighten-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;EVGA FTW edition</h5>
        </div>
      </li>
      <li>
        <img src="assets/img/s4.jpg">
        <div class="caption left-align">
          <h3>16GB HyperX Predator RAM</h3>
          <h5 class="light grey-text text-lighten-3">DDR4 3200mhz</h5>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="title center row blue-grey darken-3 z-index-4">
    <h3 class="white-text">My PC</h3>
</div>
<div class="row components white-text">
  <ul class="collection col s12 m6">
      <li class="collection-item blue-grey darken-1"><strong>Processor:</strong> AMD Ryzen 5 1600x</li>
      <li class="collection-item blue-grey darken-1 mid-1"><strong>Motherboard:</strong> Aorus Gaming K5 X370 </li>
      <li class="collection-item blue-grey darken-1 mid-2"><strong>Memory:</strong> 2x 8GB DDR4 3200mhz HyperX Predator</li>
      <li class="collection-item blue-grey darken-1"><strong>Graphics card:</strong> GTX 1070 FTW</li>
  </ul>
  <ul class="collection col s12 m6">
      <li class="collection-item blue-grey darken-1"><strong>Power supply:</strong> Corsair VS550 550W</li>
            <li class="collection-item blue-grey darken-1 mid-1"><strong>Storage:</strong> 250 GB Samsung Evo 850 SSD & 1TB WD Blue drive</li>
      <li class="collection-item blue-grey darken-1 mid-2"><strong>Watercooling:</strong> NZXT Kraken x52</li>
      <li class="collection-item blue-grey darken-1"><strong>Case:</strong> NZXT S340 Elite</li>
  </ul>
</div>
