.contact {
  background: #455a64 ;
  padding: 30px 30px 30px 30px;
}

h3 {
    margin: 2% !important;
    background: #455a64 ;
    padding-top: 2%;
}

.title {
  padding: 2%;
  margin-bottom: auto;
}

#recaptcha {
    width: 50%;
    -webkit-margin-start: 0px !important;
    -webkit-margin-end: 0px !important;
}

@media only screen and (max-width: 600px) {
  form {
    width: 100% !important;
    margin: 0 auto !important;
  }
  .captcha {
    transform: translate(-5%, -10%) scale(0.88) !important;
  }
}

@media only screen and (max-width: 480px) {
  .captcha {
    transform: translate(0, -10%) scale(1) !important;
  }
}

@media only screen and (max-width: 380px) {
  .captcha {
    transform: translate(-5%, -10%) scale(1) !important;
  }
}


.body {
  background: #455a64;
}

.txtarea.active {
  margin-top: 4px;
  font-size: 11px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #455a64 inset !important;
    -webkit-text-fill-color: #fff !important;
}

.thanks {
  padding-bottom: 5%;
}

p.thanks {
  border-radius: 20px;
  padding: 5%;
  background-color: #4caf50;
  animation-delay: 3s;
  margin: 0 auto;
  width: 85%;

  -webkit-animation: fade 2.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 3s;
  animation: fade 2.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 3s;
}

@-webkit-keyframes fade {
  0% {
    background-color: #4caf50;
  }
  100% {
    background-color: #455a64;
  }
}
@keyframes fade {
  0% {
    background-color: #4caf50;
  }
  100% {
    background-color: #455a64;
  }
}
