<div class="title center row blue-grey darken-2 z-index-4">
    <h3 class="white-text">Contact</h3>
</div>
<div materialize class="contact white-text blue-grey darken-2">
  <div class="row">
    <form #form="ngForm" (ngSubmit)="submitForm(form)" id="form" class="col s12" ngNativeValidate>
      <div class="row">
        <div class="input-field col s6">
          <input [(ngModel)]="submissions.first_name" name="first_name" id="first_name" type="text" class="validate" required>
          <label data-error="This field is required" for="first_name">First name</label>
        </div>
        <div class="input-field col s6">
          <input [(ngModel)]="submissions.last_name" name="last_name" id="last_name" type="text" class="validate" required>
          <label data-error="This field is required" for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input [(ngModel)]="submissions.email" name="email" id="email" type="email" class="validate" required>
          <label data-error="Make sure the e-mail address is valid" for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea [(ngModel)]="submissions.message" name="message" id="message" class="materialize-textarea validate" required></textarea>
          <label data-error="This field is required" class="txtarea" for="message">Message</label>
        </div>
      </div>
      <div class="row center">
        <div  align="center" class="input-field col s12">
           <re-captcha (captchaResponse)="serverValidate($event)" site_key="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></re-captcha><br><br>
        </div>
      </div>
      <div class="row center">
        <button [disabled]="!validated" class="btn waves waves-effect white grey-text darken-text-2" type="submit" name="action">Send
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
</div>
