.contact {
  background: #455a64 ;
  padding: 30px 30px 30px 30px;
}

h3 {
    margin: 2% !important;
    background: #455a64 ;
    padding-top: 2%;
}

.title {
  padding: 2%;
  margin-bottom: auto;
}

.body {
  background: #455a64;
}

.txtarea.active {
  margin-top: 4px;
  font-size: 11px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #455a64 inset !important;
    -webkit-text-fill-color: #fff !important;
}

.thanks {
  display: block;
  border-radius: 20px;
  padding: 5%;
  background-color: #4caf50;
}

#recaptcha {
    width: 304px;
    margin: 0 auto;
}
