.contact {
  background: #455a64 ;
  padding: 30px 30px 30px 30px;
}

h3 {
    margin: 2% !important;
    background: #455a64 ;
    padding-top: 2%;
}

.title {
  padding: 2%;
  margin-bottom: auto;
}

.body {
  background: #455a64;
}

.txtarea.active {
  margin-top: 4px;
  font-size: 11px;
}
