.responsive-img {
  opacity: 0.9 !important;
  position: absolute;
  clip: rect(0px,100vw,35vh,0px);
  z-index: -1;
}

.links {
  margin-top: 30%;
  padding-top: 5px;
  line-height: 25px;
}

a {
  margin-bottom: 3px;
}

@media only screen and (max-width: 600px) {
  .brand-logo {
    font-size: 25px !important;
  }
}
